// Place all the styles related to the public/Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual-content{
	// ref: https://bagelee.com/design/css/difference_between_mix-blend-mode_and_background-blend-mode/
	background-blend-mode: lighten; // ブレンド指定
	background-color: rgba(255, 255, 255, .5); // 白をブレンド
	background-image: image-url("sauna.image.jpg");
	background-size: cover;

	// ヘッダーかフッターの高さが変われば以下を変える。
	height: calc(100vh - 56px - 40px);
}

.shadow {
  text-shadow: 2px 1px 2px silver;
  font-weight: bold;
}