<% if @users.exists? %>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h4>フォロワー</h4>
    </div>
    <%= render 'public/users/index',users: @users %>
  </div>
</div>
<% else %>
<p>ユーザーはいません</p>
<% end %>