<%= render 'layouts/header'%>
<h2>サウナ一覧</h2>
    <table class="table table-hover table-inverse">
       <thead>
         <tr>
           <th>外観</th>
           <th>都道府県</th>
           <th>住所</th>
           <th>個室サウナ名</th>
           <th>サウナ室温度</th>
           <th>入浴料</th>
           <th>利用時間</th>
           <th>定休日</th>
           <th></th>
           <th></th>
           <th></th>
     　　　 </tr>
      </thead>
      <tbody>
        <% @saunas.each do |sauna| %>
         <tr>
           <td><%= image_tag sauna.get_profile_image  %></td>
           <td><% sauna.prefecrure %></td>
           <td><% sauna.place %></td>
           <td><% sauna.name %></td>
           <td><% sauna.temperature %></td>
           <td><% sauna.price %></td>
           <td><% sauna.time %></td>
           <td><% sauna.holiday %></td>
           <td></td>
           <td></td>
         </tr>
         <% end %>
      </tbody>
      </table>
      <%= render 'layouts/footer'%>
