<div class="container">
	<div class="row">
		<div class="col-md-12 mx-auto my-4">
			<div class="main-visual">
				<div class="main-visual-content">
					<div class="main-visual-text p-5">
            <h2 class="withdrawal_title text-center p-5">本当に退会しますか？</h2>
					<div class="col-md-1 p-3"></div>
						<h4 class="withdrawal_text text-center p-1">
								退会すると、会員登録情報や</br>
								これまでの投稿履歴が閲覧できなくなります。</br>
								退会する場合は、「退会する」をクリックしてください。
						</h4>
            <div class="row p-5">
              <div class="col-md-3"></div>
                <%= link_to '退会しない',admin_user_path(@user.id), class:  "btn btn-success" %>
							<div class="col-md-3"></div>
							<%= link_to '退会する',admin_user_withdraw_path(@user.id),method: :patch ,class:  "glyphicon glyphicon-tint btn btn-danger" %>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
