<%= render 'public/searches/user' %>
<div class="container pb-5">
  <div class="card text-center">
    <div class="card-header">
      <h4>ユーザー一覧</h4>
    </div>
    <%= render 'public/users/index',users: @users %>
    <%= paginate @users, theme: 'bootstrap-5' %>
  </div>
</div>