<footer class="bg-dark py-2">
	<!--<div class="">-->
		<div class="container">
  		<!--<div class="row">-->
    		<!--<div class="mx-auto text-white">-->
    		<div class="text-center text-white">
    			<small>CopyRight Infratop.inc</small>
    		</div>
    		<!--</div>-->
    	<!--</div>-->
  	</div>
  <!--</div>-->
</footer>