<footer class="fixed-bottom bg-dark py-2">
	<!--fixed-bottomフッター固定-->
	<!--<div class="">-->
		<div class="container">
  		<!--<div class="row">-->
    		<!--<div class="mx-auto text-white">-->
    		<div class="text-center text-white">
    			<small>Copyright © 2022      All Rights Reserved.</small>
    		</div>
    		<!--</div>-->
    	<!--</div>-->
  	</div>
  <!--</div>-->
</footer>